html, body {
  height: 100%;
  font-family: 'Orbitron', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: flex-center;
  flex-direction: column;
  background: url("images/building.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


#message, #notes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#message {
  font-size: 1.5rem;
  color: white;
}

.board {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  background-color: #ff71ce;
  border: ridge;
  border-color: #ff71ce;
  justify-content: center;
}

.board div {
  color: #b967ff;
  font-size: 2rem;
  width: 75px;
  height: 75px;
  border: 1px #ccc dotted;
  border-radius: 10%;
  background-color: white;
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board div:hover {
  background-color: white;
}

div.mine, div.mine:hover {
  background: no-repeat center/60% url("images/bomb.svg") crimson;
}

div.hidden {
  background: #0674F8;
}

div.hidden:hover {
  background: #fffb96;
}

div.marked, div.marked:hover {
  background: no-repeat center/60% url("images/mark.svg") grey;
}


#button {
  padding: 14px 40px;
  font-size: 20px;
  background-color: #ff71ce;
  color: white;
  border: 2px solid #ff71ce; 
  font-family: 'Orbitron', sans-serif;
  justify-content: center;
}